.purchase {
    float: right;
    padding: 15px;
}
.purchase > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.purchase div > span {
    padding: 10px;
    font-weight: 700;
    font-size: 30px;
}
.purchase-model {
    border: white solid 1px;
    padding: 30px;
}
.purchase-model form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
